<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mercadolibre.android.cardform">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".presentation.ui.CardFormActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".presentation.ui.CardFormWebActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize"/>

        <service
            android:name=".service.CardFormService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>